.content {
  
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    padding: 0 2px;
    opacity: 0;
  }
  
  li:hover .content {
    bottom: 0;
    height: 400px;
    font-size: 29px;
    transition: all 0.5s;
    transition-delay: 0.5s;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 1;
  } 
  