
.view-more {
  appearance: none;
  background-color: #292626;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family:'Times New Roman', Times, serif;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}

.view-more:disabled {
  pointer-events: none;
}

.view-more:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  /* transform: translateY(-2px); */
}

.view-more:active {
  box-shadow: none;
  transform: translateY(0);
}

.forReview{
    white-space: nowrap;      
    overflow: hidden;          
    text-overflow: ellipsis;   
    display: block;            
    width: 100%;            
  }
.location-list {
    display: flex;
    align-content: center;
    
    justify-content: space-around;
    flex-wrap: wrap;
}

.location-item {
  margin-top: 20px;
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    width: 400px;
    min-width: 250px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.location-image {
    width: 100%;
    height: 250px;

    border-radius: 8px;
}

.location-item h2 {
    font-size: 24px;
    margin-bottom: 10px;
    white-space: nowrap;      
    overflow: hidden;          
    text-overflow: ellipsis;   
    display: block;            
    width: 100%;  
}

.location-item p {
    margin: 5px 0;
}

.location-item strong {
    color: #333;
}
    
.LocationName{
  font-family:"Poppins";
  color: #333;
  margin-left: 10px;

}
.location-carousels {
  margin: 20px;
}

.location-carousel {
  margin-bottom: 40px;
}

.carousel-title {
  font-family: "Poppins", sans-serif;
  font-size: 44px;
  margin: 10px 10px;
  /* text-align: center; */
  color: #333;
}

.location-item {
  background: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  margin: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.location-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 8px;
}

.LocationName {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  color: #333;
  margin: 10px 0;
}

.view-more {
  background-color: #292626;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  color: #FFFFFF;
  padding: 16px 24px;
  width: 100%;
}
