.footer-section {
    background: #292828;
    color: #fff;
    padding: 40px 20px;
}

.footer-cta {
    border-bottom: 1px solid #373636;
    padding-bottom: 20px;
    margin-bottom: 20px;
    margin: 0 50px;
}

.cta-container {
    display: flex;
    justify-content: space-between;
    width: 80% auto;
}

.single-cta {
    display: flex;
    align-items: center;
}

.single-cta i {
    color: #ff5e14;
    font-size: 30px;
    margin-right: 15px;
}

.cta-text h4 {
    color: #fff;
    font-size: 20px;
    margin-bottom: 5px;
}

.cta-text span {
    color: #757575;
    font-size: 15px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 40px 50px auto;
}

.footer-logo img {
    width: 300px;
    margin-bottom: 10px;
    filter: drop-shadow(11px 4px 7px black);
}

.footer-text {
    font-size: 20px;
}


.footer-social-icon {
    margin-top: 15px;
}

.footer-social-icon span {
    color: #fff;
    display: block;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 15px;
}

.footer-social-icon a {
    color: #fff;
    font-size: 16px;
    margin-right: 10px;
}

.facebook-bg {
    background: #3B5998;
    border-radius: 50%;
    padding: 13px;
    border: 2px solid white;
}

.instagram-bg {
    background: #E4405F;
    border-radius: 50%;
    padding: 13px;
    border: 2px solid white;
}

.github-bg {
    background: #333;
    border-radius: 50%;
    padding: 13px;
    border: 2px solid white;
}

.footer-widget h3 {
    color: #fff;
    font-size: 20px;
    margin-bottom: 20px;
    position: relative;
}

.footer-widget h3::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    height: 2px;
    width: 50px;
    background: wheat;
}

.footer-widget ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-widget ul li {
    margin-bottom: 10px;
}

.footer-widget ul li a {
    color: #878787;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-widget ul li a:hover {
    color: wheat;
}

.subscribe-form {
    display: flex;
    align-items: center;

}

.subscribe-form input {
    width: 100%;
    padding: 10px;
    border: 1px solid #2E2E2E;
    background: #2E2E2E;
    color: #fff;
    margin-top: 20px;
    box-shadow: 2px 3px 8px #000000;
}


.subscribe-form button {
    margin-top: 20px;
    background: wheat;
    border: none;
    padding: 10px 20px;
    color: #000000;
    cursor: pointer;
    font-weight: 600;
    border-radius: 50px;
    box-shadow: 5px 3px 14px #000000;
}

.subscribe-form button:hover {
    background: rgb(243, 208, 143);
}

.footer-menu {
    text-align: center;
    margin-top: 20px;
}

.footer-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.footer-menu ul li {
    margin: 0 10px;
}

.footer-menu ul li a {
    color: #878787;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s;
}

.footer-menu ul li a:hover {
    color: wheat;
}

.copyright-area {
    background: #202020;
    padding: 20px;
    text-align: center;
}

.copyright-area p {
    margin: 0;
    color: #878787;
}

.copyright-area p a {
    color: #ff5e14;
}